*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #171717;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
    color: #5A5A5A;
}
.container{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 0px 90px;
    width: 100%;
    cursor: pointer;
}
.Logo{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    margin-right:20px ;
}
.navbuttons{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbutton{
    padding: 9px 10px;
    color: #5A5A5A;
    font-weight: 600; 
    transition : 0.2s;
    
}
.navbutton:hover{
    transform: scale(1.04);
    color: #E4E4E4;
}
.navbutton.Home:hover{
    transform: scale(1.04);
    color: #002aff;
}
.navbutton a:hover{
    transform: scale(1.04);
    color: white;
}
.Home{
    color: #4b69fd;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50px;
}
.signup{
    background: #434242;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 13px 47px;
    border-radius: 25px;
    flex-shrink: 0;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.5s;
}


.signup:hover{
    background-color: #5A5A5A;
   
}
.bottle-info{
    display: flex;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
}

.bottle-image::before{
    content: "";
    width: 650px;
    height: 650px;
    color: white;
    background-color: #fff;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transform: translateX(-150px) translateY(20px);
    box-shadow: 0px -24px 119px 5px rgba(0, 10, 255, 0.25);

}
.bottle-image img{
    margin-top: 200px;
    transform: translateX(30px);
    transition: 0.5s;
}
.bottle-info:hover .bottle-image img{
    margin-top: 200px;
    transform: translate(30px,-50px)
}

.content{
    color: #FFF;
    flex-basis: 100%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    
}
.content h1{
    color: rgba(255, 255, 255, 0.80);
    text-align: left;
    font-family: 'Inconsolata',sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing:-1px;   
}
.content:nth-child(1) p{
    color: rgba(255, 255, 255, 0.80);
    text-align: left;
    font-family: 'Inconsolata',sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 5px;
    position: absolute;
    transform: translateY(300px);
}





.content h1{
    width: 400px;
}
.content p{
    width: 270px;
    position: absolute;
    transform: translateY(170px);
}

.content .line1{
    position: absolute;
    margin: 0;
    width: 270px;
    transform: translate(270px,250px);
}
.content .arrow1{
    position: absolute;
    margin: 0;
    width: 100px;
    transform: translate(538px,330px);
}
.content .line2{
    position: absolute;
    width: 230px;
    transform: translate(-258px,126px)

}
.content .arrow2{
    position: absolute;
    width: 100px;
    transform: translate(-486px,367px);
}
.bottle-info :nth-child(3){
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
    margin-top: 80px;
}
.bottle-info :nth-child(3) {
    
    align-items: end;
}
.bottle-info :nth-child(3) h1{
    color: rgba(255, 255, 255, 0.80);
    text-align: right;
    font-family: 'Inconsolata',sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing:-1px;   
}
.bottle-info :nth-child(3) p{
    color: rgba(255, 255, 255, 0.80);
    text-align: right;
    font-family: 'Inconsolata',sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-right: 10px;
     
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}
.container2 .information{
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container2 .information h1{
    margin-top: 154px;
    font-size: 64px;
    font-weight: 600;  
}
.container2 .information p{
   
    font-size: 20px;
    width: 80%;
    font-weight: 600;  
    z-index: 10;
    transition: 0.5s;
}
.container2 .information p span{
    transition: 0.5s;
}
.container2 .bottles{
    display: flex;
    width: 890px;
    justify-content: center;
    align-items: center;
}
.container2 .bottles img:nth-child(1){
    width: 300px;
    transform: translate(130px,20px);
    z-index: 1;
    transition: 0.5s;
    
}
.container2 .bottles img:nth-child(2){
    width: 400px;
    transform: translate(-40px,20px);
    transition: 0.5s;
    
}
.container2 h1 span{
    transition: 0.5s;
}
.container2:hover .bottles img:nth-child(1){
    transform: translate(130px,-30px) rotate3d(0,0,1,23deg);
}
.container2:hover .bottles img:nth-child(2){
    transform: translate(-80px,-90px) rotate3d(0,0,1,-20deg);
    z-index: -0;
}

.container2:hover h1 span:nth-child(1){
    color: #002aff;
    transition-delay: 200ms;
}
.container2:hover .information p span{
    color: #697ff0;  
}
.container2:hover .information {
    transform: translateY(-20px);
     
}
.container2:hover h1 span:nth-child(2){
    color: red;
    transition-delay: 300ms;
}
.container2:hover h1 span:nth-child(3){
    color: rgb(215, 215, 0);
    transition-delay: 400ms;
}
/*Container3  */
.container3{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: #FFF;
    justify-content: center;
    align-items: center;

}
.border{
    display: flex;
    flex-direction: row;
    color: #FFF;
    justify-content: center;
    width: 95%;
    height: 90%;
    border: 1px solid #393939;
    overflow: visible;
}
.girl{
    display: flex;
    flex-direction: row;
}
.girl img{
    transform: translate(50px,50px);
    transition: 0.5s;
}
.girl h1{
    font-size: 170px;
}


.container3 .left-note{
    width: 25%;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    margin-left: 100px;
    
}
.container3 .left-note h1{
    font-size: 50px;
}
.container3 .left-note p{
    font-size: 12px;
    margin-top: 20px;
}

/* container4 */
@keyframes slide{
    form{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.container4{
    width: 100%;
    overflow: hidden;
    padding: 40px 0px;
    background-color:transparent;
    white-space: nowrap;
    border: 2px solid whitesmoke ;
    border-left: none;
    border-right: none;

}

.container4 .logo-slide img{
    width: 130px;
    margin: 0px 40px;   
}

.container4 .logo-slide{
    display: inline-block;
    height: 50px;
    animation: 5s slide infinite linear;
}



/*Container5*/
.container5{
    background: rgba(49, 49, 49, 0.28);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 91vh;
}

.sizes{
    width: 40%;
    color: #FFF;
    margin-top: 70px;
}
.sizes h1{
    width: 50%;
    font-size: 40px;
    font-weight: 400;
}
.sizes p{
    width: 70%;
    font-size: 14px;
    font-weight: 300;
    margin-top: 50px;
}
.container5 .sizes a{
    position: absolute;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: white;
    background-color: #444;
    margin-top: 40px;
    border-radius: 22.5px;
    transition: 0.5s;
   
}

.container5 .sizes a:hover{
    transform: scale(1.04);
    background-color: #c1bdbd;
    color: black;
}

.bottlesizes{
    margin-top: 37px;
   
}

.bottlesizes img:nth-child(1){
    width: 180px;
    height: 340px;
    transform: translateY(120px);
    transition: 0.5s;
}
.bottlesizes img:nth-child(2){
    width: 210px;
    height: 430px;
    transform: translateY(120px);
    
    transition: 0.5s;
}
.bottlesizes img:nth-child(3){
    width: 240px;
    height: 540px;
    transform: translateY(144px);
    transition: 0.5s;
}
.container5:hover .bottlesizes img:nth-child(1){
    transform: translateY(100px);
}
.container5:hover .bottlesizes img:nth-child(2){
    transform: translateY(100px);
    
}
.container5:hover .bottlesizes img:nth-child(3){
    transform: translateY(100px);
    
}



/*container6*/
.container6{
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.newsletter{
    font-size: 20px;
}
.newsletter h1{
    margin-bottom: 10px;
}

.textbox form input{
    width: 500px;
    height: 74px;
    margin-left: 60px;
    border-radius: 6px;
    font-size: 35px;
}

/*container7*/
.container7{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    color: black;
    
    background-color: #fff;
}

.contact{
    margin-top: 80px;
}
.contact .icons{
    margin-top: 10px;
}
.contact .icons ion-icon{
    font-size: 20px;
    padding-right: 10px;
}
.contact .detail{
    margin-top: 30px;
}

.product-image{
    display: flex;
    justify-content: center;
    background-color: #E4E4E4;
    width: 400px;
    height: 300px;
    align-items: center;
    margin-top: 80px;
    overflow: hidden;
    border-radius: 6px;
    transition: 0.2s;
}
.product-image:hover{
    background-color: #393939;
}
.product-image img{
    transition: 0.5s;
}
.product-image:hover img{
    transform: scale(1.09);
    transform: translateY(-16px) ;
    
}
.product-image img{
    margin-top: 60px;
}

.pages{
    margin-top: 70px;
}
.pages p{
    margin-top: 10px;
}
.pages a{
    text-decoration: none;
    color: #393939;
}
.address{
    margin-top: 80px;
}
.address p:nth-child(1){
    font-weight: 900;
}
.address p{
    width: 418px;
}
.address img{
    margin-top: 20px;
    width: 90%;
}

.credits{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 15vh;
    background-color: #fff;
}

.credits .end{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #868686;
}
.credits .end p{
    margin-top: 20px;
}
.credits  p{
    margin-top: 20px;
    font-size: 20px;
}
.credits  p ion-icon{
    padding: 0px 30px ;
}
.credits .end p span{
    font-weight: 900;
}

